@charset "UTF-8";

.notice_div_class {
	padding : 24px 24px 24px 24px
}

.notice_div_button_class {
	text-align : right;
	padding-right : 30px; 
}

.notice_div_paging_class {
	text-align : center;
}